* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
}

.cp {
  cursor: pointer;
}

/* Header */
.header-bg {
  background-image: url(../src/assets/images/header-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */
.mx-navbar {
  max-width: 1230px !important;

}

.gap-10 {
  gap: 10px;
}

.py-header-links {
  padding-top: 14px;
  padding-bottom: 14px;
}

.max-1140 {
  max-width: 1140px !important;
}

.max-1230 {
  max-width: 1230px !important;
}

.navbox {
  border-radius: 16px;
  padding: 4px 10px 4px 10px;
}

.gap-24 {
  gap: 24px;
}

.nav-links-hover {
  transition: all 300ms linear;
}

.nav-links-hover:hover {
  color: var(--orange);
}

.commonbtn1 {
  padding: 20px;
  background: var(--orange);
  color: var(--white);
  transition: all 500ms ease-in-out;
  border-radius: 84px;
  box-shadow: 0px 0px 26.2px 0px var(--orange2);
  outline: none;
  border: none;
}

.commonbtn1:hover {
  background: var(--black);
  box-shadow: 0px 0px 20px 0px var(--sky) inset;
}

/* Hero */
.max-730 {
  max-width: 730px;
}

.pt-heading-1 {
  padding-top: 48px;
}

.max-430 {
  max-width: 430px;
}

.pt-hero-btn {
  padding-top: 20px;
}

.hero-blur-box {
  background: rgba(227, 250, 255, 0.05);
  padding: 10px 10px;
  border-radius: 16px;
  backdrop-filter: blur(20px);
}

.gap-28 {
  gap: 28px;
}

.gap-12 {
  gap: 12px;
}

.mt-blur-box {
  margin-top: 20px;
}

.py-header {
  padding-bottom: 68px;
}

.gap-blur-box {
  gap: 20px;
}

/* CLEANING/////////////// */
.cleaning-bg {
  background-image: url(./assets/images/sec2-bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

}

.max-351 {
  max-width: 351px;
}



.pt-13 {
  padding-top: 13px;
}

.gap-16 {
  gap: 16px;
}

.gap_6 {
  gap: 6px;
}


/* UNDERSTANDING//////////// */
.py-cleaning {
  padding-top: 48px;
  padding-bottom: 30px;
}

.max-image1 {
  max-width: 558px;
}

.play-btn {
  width: 60px;
  height: 60px;
  border-radius: 110px;
  background: var(--orange);
  top: 44%;
  left: 46%;
}

.play-btn-2 {
  width: 60px;
  height: 60px;
  border-radius: 110px;
  background: var(--orange);
  top: 40%;
  left: 44%;
}

.gap-20 {
  gap: 20px;
}

.under-bg {
  background-color: var(--orange);
}

.py-under-1 {
  padding-top: 20px;
  padding-bottom: 48px;
}

.py-under-2 {
  padding-bottom: 20px;
}

.ice-position {
  right: 0%;
  top: 20%;
}

.max-728 {
  max-width: 728px;
}

.max-641 {
  max-width: 641px;
}

.ice-position-2 {
  left: 0%;
  bottom: 21%;
}

.max-cleaning-img {
  max-width: 558px;
  width: 100%;
}

/* BLASTING//////////////// */
.pt-blasting {
  padding-top: 10px;
}

.py-blasting {
  padding-top: 48px;
  padding-bottom: 30px;
}

.max-451 {
  max-width: 451px;
}

.max-blast {
  max-width: 558px;
}

.b-decrease {
  transform: translateY(1px);
}

.t-decrease {
  transform: translateY(-1px);
}

/* SCENES////////// */
.bg-scenes {
  background-image: url(./assets/images/bg-scene.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.max-680 {
  max-width: 680px;
}

.max-592 {
  max-width: 592px;
}

.pt-12 {
  padding-top: 12px;
}

.py-scenes {
  padding-top: 30px;
  padding-bottom: 30px;
}

.wash-image {
  border-radius: 24px;
  border: 4px solid var(--wash);
}

.pt-scenes-text {
  padding-top: 40px;
}

.pt-20 {
  padding-top: 20px;
}

.py-btn-scenes {
  padding-top: 20px;
  padding-bottom: 34px;
}

/* Numbers /////////////*/
.max-759 {
  max-width: 759px;
}

.pt-14 {
  padding-top: 14px;
}

.pt-numbers {
  padding-top: 30px;
}

.py-accordian {
  padding-top: 30px;
  padding-bottom: 37px;
}

.max-551 {
  max-width: 551px;
}



.instant-box {
  border-radius: 14px;
  border: 6px solid var(--orange2);
  box-shadow: 0px 0px 26.2px 0px var(--shadow1);
  padding: 15px;
}

.max-770 {
  max-width: 770px;
}

.pt-instant-btn {
  padding-top: 20px;
}

.py-numbers {
  padding-bottom: 40px;
}

/* Work */
.bg-orange {
  background: var(--orange);
}

.pb-work-text {
  padding-bottom: 30px;
}

/* Team ///////////*/
.max-461 {
  max-width: 461px;
}

.pt-10 {
  padding-top: 10px;
}

.py-team {
  padding-top: 20px;
  padding-bottom: 20px;
}

.max-577 {
  max-width: 577px;
}

.mt-team-col {
  margin-top: 40px !important;
}

.team-elipse-w {
  width: 100%;

}

/* Faq-accordian */

.accordion-item {
  background: var(--blue) !important;
  border-radius: 14px !important;
  border: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button {
  padding: 15px 15px 15px 15px !important;
  background-color: var(--grey3) !important;
  border: 1px solid var(--accordian-border) !important;
  border-radius: 14px !important;
  color: var(--blue) !important;
}

.accordion-button:not(.collapsed) {
  color: var(--white) !important;
  padding: 15px 15px 15px 15px !important;
  box-shadow: none !important;
  border: 1px solid transparent !important;
  background: var(--blue) !important;
}

.accordion-body {
  margin-top: -2px !important;
  padding: 0px 15px 15px 15px !important;
  background: var(--blue);
  border-radius: 14px !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(./assets/images/svg/minus.svg) !important;
  transform: rotate(-180deg) !important;
}

.accordion-button::after {
  background-image: url(./assets//images//svg/plus.svg) !important;
  transition: all 200ms linear !important;
}

.max-1003 {
  max-width: 1003px !important;
}

.gap-accordian {
  gap: 20px;
}

/* Faq////////////// */
.question-box {
  padding: 15px 15px 15px 15px;
  background: var(--grey3);
  border-radius: 14px;
  border: 1px solid var(--accordian-border);
}

.typebox {
  max-width: 1080px;
  padding: 16px;
  min-height: 152px;
  background: var(--white);
  border-radius: 16px;
  border: 1px solid var(--accordian-border);
  outline: none;
}

.input-type {
  min-height: 112px;
  border: none;
  resize: none;
  outline: none;
}

.mt-20 {
  margin-top: 20px;
}

.mt-submit {
  margin-top: 20px;
}

.py-faq {
  padding-top: 10px;
  padding-bottom: 48px;
}

.mt-18 {
  margin-top: 18px;
}

.max-966 {
  max-width: 966px;
}

.cloud-height {
  max-height: 100px;
}

.cloud-height2 {
  max-height: 100px;
}

/* News//////////////////// */
.news-box {

  border-radius: 16px;
  box-shadow: 0px 0px 12px 0px var(--news);
  padding: 10px 10px 24px 10px;
  transition: all 300ms linear;
}

.news-box:hover {
  transition: all 300ms linear;
  box-shadow: 0px 0px 15px 0px var(--blue);
}

.news-box:hover img {
  transition: all 300ms linear;
  transform: scale(0.97);
}

.py-news-row {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pb-news {
  padding-bottom: 48px;
}

/* Mail/////////////////// */
.mail-box {
  max-width: 959px;
  padding: 20px 15px 20px 15px;
  background: var(--blue);
  border-radius: 42px;
  box-shadow: 0px 2px 34px 0px var(--news);
}

.email-input-box {
  max-width: 505px;
  padding: 3px 3px 3px 20px;
  border-radius: 47px;
  border: 1px solid var(--white);
  background: var(--white);
  margin-top: 23px;
  min-height: 57px;
}

.email-input {
  outline: none;
  background: transparent;
}

.gap_8 {
  gap: 8px;
}

.check-box {
  width: 23px;
  height: 22px;
  border-radius: 4px;
  border: 0.5px solid var(--white);
}

.translate_box {
  transform: translateY(110px);
  margin-top: -110px;
}

/* Footer///////////////// */
.footer-bg {
  background: var(--blue);
}

.py-footer-slider {
  padding-top: 38px;
  padding-bottom: 57px;
}

.max-85 {
  max-width: 85px;
}

.footer-hover {
  transition: all 300ms linear;
}

.footer-hover:hover {
  opacity: 100%;
}

.footer-box {
  width: 40px;
  height: 40px;
  border-radius: 43px;
  background: var(--orange);
}

.gap-18 {
  gap: 18px;
}

.mt_2 {
  margin-top: 2px;
}

.footer-logo {
  transition: all 300ms linear;
}

.footer-logo:hover {
  transform: translateX(8px);
}

.py-footer-row {
  padding-bottom: 48px;
}

.pb-25 {
  padding-bottom: 25px;
}

.bg-l-blue {
  background: var(--accordian1);

}

.bg-l-purple {
  background: var(--accordian2);
}

.bg-ll-pink {
  background: var(--accordian3);
}

.bg-l-pink {
  background: var(--accordian4);
}

.mt-50 {
  margin-top: 50px;
}

.p-accordian2 {
  padding: 15px;
}

.accordion_body {
  max-width: 551px;
  display: none;
}

.accordion_body.open {
  display: inline;
}

.gap-accordian2 {
  gap: 20px;
}

.accordion_item {
  border: 1px solid var(--border22);
  border-radius: 14px;
  cursor: pointer;
}

.gap-20 {
  gap: 20px;
}

.gallery-slide {
  display: block;
  width: 360px;
  height: auto;
  padding: 0;
  border-radius: 12px;
  overflow: hidden;
  border: 3px solid var(--white);
  border-radius: 26px;
}

.gallery-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.gallery-slide.swiper-slide-active {
  border: 4px solid var(--border23);
  border-radius: 26px;
}

.gallery-slide.swiper-slide-active img {
  filter: none;

}

.btn-box {
  height: 42px;
  width: 42px;
  border-radius: 100px;
  border: 1px solid var(--white);
  background: transparent;
  cursor: pointer;
}

.btn-box:hover {
  background: var(--white);
}

.btn-box:hover svg path {
  fill: var(--orange);
}

.position-prevbtn {
  left: 35%;
  bottom: 5%;
}

.position-nextbtn {
  right: 35%;
  bottom: 5%;
}

.py-work {
  padding-bottom: 88px;
}

@media (min-width:576px) {
  .py-team {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .mt-team-col {
    margin-top: 120px !important;
  }

  .position-team-elipse {
    top: -30%;
    left: -15%;

  }

  .pb-news {
    padding-bottom: 60px;
  }

  .cloud-height {
    max-height: 150px;
  }

  .cloud-height2 {
    max-height: 150px;
  }

  .py-blasting {
    padding-top: 48px;
    padding-bottom: 30px;
  }

  .hero-blur-box {
    padding: 20px 20px;
  }

  .pt-heading-1 {
    padding-top: 60px;
  }

  .mt-blur-box {
    margin-top: 30px;
  }

  .pt-hero-btn {
    padding-top: 30px;
  }

  .navbox {
    border-radius: 16px;
    padding: 4px 25px 4px 25px;

  }
}

@media (min-width:768px) {
  .pb-work-text {
    padding-bottom: 57px;
  }

  .play-btn-2 {
    top: 48%;
    left: 48%;
  }

  .py-accordian {
    padding-top: 50px;
    padding-bottom: 37px;
  }

  .p-accordian2 {
    padding: 20px;
  }

  .position-team-elipse {
    top: -38%;
    left: -2%;

  }

  .pb-news {
    padding-bottom: 138px;
  }

  .mail-box {
    padding: 68px 15px 40px 15px;
  }

  .py-news-row {
    padding-top: 50px;
    padding-bottom: 40px;
  }


  .max-323 {
    max-width: 323px;
  }

  .py-faq {
    padding-top: 45px;
    padding-bottom: 64px;
  }

  .cloud-height {
    max-height: 440px;
  }

  .cloud-height2 {
    max-height: 383px;
  }

  .pt-instant-btn {
    padding-top: 40px;
  }

  .instant-box {
    padding: 37px;
  }

  .mt-submit {
    margin-top: 40px;
  }

  .question-box {
    padding: 16px 30px 38px 30px;
  }

  .accordion-button {
    padding: 22px 28px 24px 30px !important;
  }

  .accordion-button:not(.collapsed) {
    padding: 24px 28px 12px 30px !important;
  }

  .accordion-body {
    padding: 0px 37px 24px 30px !important;
  }

  .py-scenes {
    padding-top: 36px;
    padding-bottom: 50px;
  }

  .py-blasting {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .py-under-1 {
    padding-top: 48px;
    padding-bottom: 60px;
  }

  .py-cleaning {
    padding-top: 82px;
    padding-bottom: 80px;
  }

  .gap-blur-box {
    gap: 28px;
  }

  .hero-blur-box {
    padding: 22px 51px;
  }

  .py-header {
    padding-bottom: 130px;
  }

  .pt-heading-1 {
    padding-top: 87px;
  }

  .mt-blur-box {
    margin-top: 40px;
  }

  .pt-hero-btn {
    padding-top: 40px;
  }

  .navbox {
    border-radius: 16px;
    padding: 4px 45px 4px 45px;

  }
}

@media (min-width:992px) {
  
  .position-prevbtn {
    left: -3%;
    bottom: 50%;
  }

  .position-nextbtn {
    right: -3%;
    bottom: 50%;
  }

  .p-accordian2 {
    padding: 32px;
  }

  .gap-accordian2 {
    gap: 40px;
  }

  .mt-team-col {
    margin-top: 0px !important;
  }

  .position-team-elipse {
    top: -38%;
    left: -30%;

  }

  .team-elipse-w {
    width: 460px;
  }

  .max-625 {
    max-width: 625px;
  }

  .max-350 {
    max-width: 350px;
  }

  .py-blasting {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .py-under-1 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .max-558 {
    max-width: 558px;
  }

  .max-518 {
    max-width: 518px;
  }
}

@media (min-width:1200px) {
  .py-header{
    padding-bottom: 237px;
  }
  .position-prevbtn {
    left: -3%;
    top: 50%;
  }

  .position-nextbtn {
    right: -3%;
    top: 50%;
  }

  .team-elipse-w {
    width: 577px;
  }



  .max-cleaning-img {
    width: 558px;
    height: 584px;
  }

  .max-future {
    max-width: 351px;
  }

  .py-blasting {
    padding-top: 48px;
    padding-bottom: 80px;
  }
}

@media (min-width:1400px) {
  .position-prevbtn {
    left: -4%;
    top: 50%;
  }

  .position-nextbtn {
    right: -4%;
    top: 50%;
  }

  .py-blasting {
    padding-top: 48px;
    padding-bottom: 121px;
  }

  .py-blasting {
    padding-top: 48px;
    padding-bottom: 121px;
  }

  .py-under-2 {
    padding-bottom: 200px;
  }

  .py-under-1 {
    padding-top: 137px;
    padding-bottom: 271px;
  }
}

@media (min-width:1400px) {
  .position-team-elipse {
    top: -38%;
    left: -15%;

  }

}

@media (min-width:1600px) {
  .max-1410 {
    max-width: 1410px !important;
  }

}

/* NAVBAR-RESPONSIVE */
@media (max-width:991px) {
  .mobile_view {
    position: fixed;
    background: var(--white);
    height: 100vh;
    width: 100%;
    top: 0;
    right: -100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease-in-out;
    z-index: 50;
  }

  .menu {
    z-index: 100;
  }

  .overflow_hidden {
    overflow: hidden;
  }

  .menu span:nth-child(1) {
    height: 4px;
    width: 35px;
    background-color: var(--black);

    display: block;
    border-radius: 30px;
  }

  .menu span:nth-child(2) {
    height: 4px;
    width: 35px;
    background-color: var(--black);
    display: block;
    border-radius: 30px;
  }

  .menu span:nth-child(3) {
    height: 4px;
    width: 35px;
    background-color: var(--black);
    display: block;
    border-radius: 30px;
  }

  .menu span {
    transition: 300ms linear;
  }

  .cross span:nth-child(1) {
    transform: rotate(42deg) translateY(16px);
    transition: 300ms linear;
  }

  .cross span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
    transition: 10ms linear;
  }

  .cross span:nth-child(3) {
    transform: rotate(-43deg) translateY(-17px);
    transition: 300ms linear;
  }

  .right_100 {
    right: -100%;
  }

}